body {
    background: white ;
}
table {

    width: 90%;
    padding: 12.5%;
    color: grey;
    border: 1px solid #4d4d4d;

}
th {
    color: grey;
    border: 1px solid #4d4d4d;
}
td {
    color: grey;
    border: 1px solid #4d4d4d;
}